@import url("https://fonts.googleapis.com/css2?family=Roboto&family=Shrikhand&display=swap");
* {
  font-family: "Roboto", sans-serif;
}

/*
font-family: 'Roboto', sans-serif;
font-family: 'Shrikhand', cursive;
*/
body {
  margin: 0 auto;
}

header {
  position: relative;
  z-index: 1;
  width: 100%;
  height: 100%;
  box-shadow: 0px 6px 13px -7px rgb(153, 153, 153);
  display: grid;
  grid-template: 1fr/10% 80% 10%;
  /*---------BOUTON RETOUR------------*/
}
header h1 {
  margin: auto;
  grid-area: 1/2;
}
header h1 img {
  margin: auto;
  display: block;
  height: 100%;
  width: 80%;
  max-width: 200px;
  padding: 16px;
}
header #back {
  grid-area: 1/1;
  margin: auto;
  border: none;
  background-color: transparent;
  text-decoration: none;
  transform: scale(1);
  transition: 400ms;
  color: rgb(55, 55, 55);
  font-size: 20px;
}
header #back:hover {
  transform: scale(1.3);
  transition: 400ms;
}

footer {
  height: 165px;
  background-color: #323232;
}
footer h2 {
  margin: 0;
  padding: 22px;
  font-family: "Shrikhand";
  color: white;
  font-size: 17px;
  font-weight: lighter;
}
footer #footerlinks {
  display: flex;
  flex-direction: column;
}
footer #footerlinks a {
  color: white;
  text-decoration: none;
  padding: 3px 25px;
}
footer #footerlinks a i {
  margin-right: 10px;
  font-size: 12px;
}

/*-----BOUTON VIOLET-------*/
/*-----BOUTON CHOIX-----*/
#restoname .far, #restoname .fas, #restocards .card .far, #restocards .card .fas {
  font-size: 25px;
}
#restoname .fas, #restocards .card .fas {
  z-index: 1;
  background: linear-gradient(170deg, #ff79d9 5%, #9256dc 100%);
  -webkit-background-clip: text;
          background-clip: text;
  -webkit-text-fill-color: transparent;
  opacity: 0;
  transition: 400ms;
}
#restoname .far, #restocards .card .far {
  z-index: 2;
  margin-right: 15px;
  transition: 400ms;
}
#restoname input, #restocards .card input {
  height: 25px;
  width: 25px;
  cursor: pointer;
  opacity: 0;
  z-index: 4;
}
#restoname input:checked ~ .fas, #restocards .card input:checked ~ .fas {
  opacity: 1;
  transition: 400ms;
}
#restoname input:checked ~ .far, #restocards .card input:checked ~ .far {
  opacity: 0;
  transition: 400ms;
}

/*-----BOUTON VIOLET-------*/
/*-----BOUTON CHOIX-----*/
#loader {
  width: 100%;
  height: 100%;
  position: fixed;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-animation: loader 0.5s;
          animation: loader 0.5s;
  -webkit-animation-delay: 3.4s;
          animation-delay: 3.4s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  z-index: 3;
}
#loader #loading {
  display: flex;
  justify-content: center;
  width: 100px;
  height: 100px;
  -webkit-animation: loading 1s ease-in-out;
          animation: loading 1s ease-in-out;
  border-radius: 50%;
  border: 6px solid #9256dc;
  border-bottom: 6px solid #ff79d9;
  -webkit-animation-iteration-count: 3;
          animation-iteration-count: 3;
}

@-webkit-keyframes loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@-webkit-keyframes loader {
  100% {
    opacity: 0;
    z-index: -1;
  }
}
@keyframes loader {
  100% {
    opacity: 0;
    z-index: -1;
  }
}
#intro {
  display: flex;
  flex-direction: column;
}
#intro #localisation {
  background-color: rgb(239, 239, 239);
  height: 50px;
}
#intro #localisation i {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(55, 55, 55);
}
#intro #localisation input {
  font-size: 16px;
  font-weight: bolder;
  background-color: transparent;
  border: none;
  font-family: "Roboto", sans-serif;
  margin-left: 20px;
  width: 150px;
}
#intro #localisation input ::-moz-placeholder {
  opacity: 1;
  color: black;
}
#intro #localisation input :-ms-input-placeholder {
  opacity: 1;
  color: black;
}
#intro #localisation input ::placeholder {
  opacity: 1;
  color: black;
}
#intro #explore {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f6f6f6;
  height: 217px;
  padding: 35px 30px;
}
#intro #explore h2 {
  font-size: 24px;
  text-align: center;
  margin: 10px 25px 0 25px;
}
#intro #explore p {
  font-size: 18px;
  text-align: center;
  color: rgb(55, 55, 55);
}
#intro #explore button {
  box-shadow: 0px 6px 7px 0px #d4d4d4;
  background: linear-gradient(170deg, #ff79d9 5%, #9256dc 100%);
  border-radius: 28px;
  border: none;
  cursor: pointer;
  color: #ffffff;
  font-size: 16px;
  padding: 16px;
  margin: auto;
  text-decoration: none;
  white-space: nowrap;
}
#intro #explore button:hover {
  background: linear-gradient(170deg, #ff98e2 5%, #ad80e5 100%);
  box-shadow: 0px 6px 7px 0px #bbbbbb;
}

nav {
  height: 350px;
  padding: 45px 0;
}
nav h2 {
  font-size: 23px;
  font-weight: bolder;
  margin: 0px 20px;
}
nav #filtre {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 20px 0 50px 0;
}
nav #filtre button {
  width: 90%;
  height: 75px;
  border-radius: 20px;
  box-shadow: 0px 6px 7px 0px #d4d4d4;
  border: none;
  background-color: #f6f6f6;
  margin: 10px;
  color: rgb(118, 118, 118);
  display: flex;
  align-items: center;
  cursor: pointer;
}
nav #filtre button .number {
  float: left;
  margin-left: -19px;
  font-size: 15px;
  color: white;
  background-color: #9256dc;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 24px;
  width: 24px;
  border-radius: 100%;
}
nav #filtre button i {
  margin: auto;
}
nav #filtre button .fonction {
  font-size: 16px;
  margin: 0 20px;
  color: black;
}
nav #filtre button:hover {
  background-color: rgba(147, 86, 220, 0.13);
  box-shadow: 0px 6px 7px 0px #bbbbbb;
  color: #9256dc;
}

#restaurant {
  background-color: #f6f6f6;
  padding: 55px 0 40px;
}
#restaurant h2 {
  font-size: 23px;
  font-weight: bolder;
  margin: 0px 20px;
}
#restaurant .card {
  background-color: white;
  width: 90%;
  height: 250px;
  margin: 25px auto;
  box-shadow: 0px 6px 7px 0px #d4d4d4;
  border-radius: 15px;
  display: grid;
  grid-template: 70% 30%/75% 25%;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}
#restaurant .card:hover {
  box-shadow: 0px 6px 7px 0px #bbbbbb;
}
#restaurant .card img {
  width: 100%;
  height: 175px;
  border-radius: 15px 15px 0 0;
  grid-area: 1/1/1/3;
  -o-object-fit: cover;
     object-fit: cover;
}
#restaurant .card .description {
  grid-area: 2/1;
}
#restaurant .card .description h3 {
  margin: 13px 10px 5px 10px;
  font-size: 18px;
}
#restaurant .card .description address {
  font-style: normal;
  font-size: 17px;
  margin: 0 10px;
}
#restaurant .card .far, #restaurant .card .fas, #restaurant .card input {
  grid-area: 2/2;
  margin: 15px auto;
  font-size: 25px;
}
#restaurant .card .new {
  grid-area: 1/2;
  background-color: #99e2d0;
  height: 15px;
  max-width: 60px;
  text-align: center;
  padding: 7px;
  margin: 13px auto;
  border-radius: 3px;
  font-size: 14px;
  font-weight: bold;
  color: #0f9070;
}
#restaurant .card a {
  grid-area: 1/1/1/3;
  text-decoration: none;
  color: black;
}
#restaurant .card a:visited {
  text-decoration: none;
}

/*-----BOUTON VIOLET-------*/
/*-----BOUTON CHOIX-----*/
main {
  display: flex;
  flex-direction: column;
}

#picture {
  height: 220px;
}
#picture img {
  width: 100%;
  height: 115%;
  -o-object-fit: cover;
     object-fit: cover;
}

#repas {
  padding: 38px 14px;
  border-radius: 40px 40px 0 0;
  background-color: #f6f6f6;
}
#repas #restoname {
  display: flex;
  justify-content: space-between;
}
#repas #restoname h2 {
  font-family: "Shrikhand";
  font-weight: lighter;
  font-size: 28px;
  margin: 0;
}
#repas #restoname .fas, #repas #restoname input {
  position: absolute;
  right: 29px;
}
#repas .carte {
  display: flex;
  flex-direction: column;
  margin: 14px 0;
}
#repas .carte h3 {
  font-size: 16px;
  font-weight: lighter;
  margin-bottom: 3px;
}
#repas .carte .greenborder {
  height: 3px;
  width: 45px;
  background-color: #99e2d0;
}
#repas .carte .menu {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  width: 100%;
  overflow: hidden;
}
#repas .carte .menu .buttonfood {
  display: flex;
  height: 67px;
  background-color: white;
  border: none;
  border-radius: 15px;
  box-shadow: 0px 6px 7px 0px #d4d4d4;
  margin-bottom: 15px;
  overflow: hidden;
  cursor: pointer;
  width: 100%;
}
#repas .carte .menu .buttonfood .description {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 100%;
  height: 100%;
  overflow: hidden;
  max-width: 100%;
}
#repas .carte .menu .buttonfood .description em {
  font-size: 17px;
  font-style: normal;
  font-weight: bold;
  margin: 10px 0 0 8px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  max-width: 100%;
}
#repas .carte .menu .buttonfood .description p {
  margin: 5px 0 10px 8px;
  font-size: 15px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  max-width: 100%;
}
#repas .carte .menu .buttonfood .price {
  display: flex;
  align-items: flex-end;
  height: 85%;
  font-size: 15px;
  font-weight: bolder;
  padding: 0 20px 0 5px;
}
#repas .carte .menu .buttonfood .check {
  min-width: 68px;
  height: 68px;
  background: #99e2d0;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: -70px;
  border-radius: 0 15px 15px 0;
}
#repas .carte .menu .buttonfood .check .fas {
  color: #99e2d0;
  padding: 6px;
  border-radius: 50%;
  background: white;
}
#repas .carte .menu .buttonfood:hover .check {
  margin-right: 0px;
  transition-duration: 0.5s;
  transition-timing-function: ease;
}
#repas .carte .menu .buttonfood:hover i {
  transform: rotate(360deg);
  transition: 500ms;
}
#repas #commander {
  background: linear-gradient(170deg, #ff79d9 5%, #9256dc 100%);
  border-radius: 28px;
  border: none;
  cursor: pointer;
  color: #ffffff;
  font-size: 16px;
  padding: 16px;
  margin: auto;
  text-decoration: none;
  white-space: nowrap;
  box-shadow: 0px 6px 7px 0px #d4d4d4;
  width: 180px;
  display: flex;
  justify-content: center;
  margin: 30px auto;
}
#repas #commander:hover {
  background: linear-gradient(170deg, #ff98e2 5%, #ad80e5 100%);
  box-shadow: 0px 6px 7px 0px #bbbbbb;
}

@media screen and (min-width: 710px) {
  /*-----INDEX------*/
  nav {
    height: auto;
  }
  nav #filtre {
    flex-direction: row;
    flex-wrap: wrap;
  }
  nav #filtre button {
    max-width: 400px;
  }
  #restaurant #restocards {
    display: flex;
    flex-wrap: wrap;
  }
  #restaurant #restocards .card {
    width: 45%;
  }
  #restaurant #restocards .card img {
    width: 100%;
  }
  /*-----PAGE DE RESTO------*/
  #repas .carte .menu {
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  #repas .carte .menu .buttonfood {
    width: 30%;
    min-width: 330px;
    margin: 15px auto;
  }
  /*-----FOOTER------*/
  footer h2 {
    display: flex;
    justify-content: center;
  }
  footer #footerlinks {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 25px;
  }
}
@media screen and (min-width: 1150px) {
  /*-----PAGE DE RESTO------*/
  #repas #globalcard {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  #repas #globalcard .carte {
    justify-content: flex-start;
    width: 30%;
  }
  #repas #globalcard .menu .buttonfood {
    margin: 15px 0px;
    width: 100%;
  }
  /*-----INDEX------*/
  #restaurant #restocards {
    display: flex;
    flex-wrap: nowrap;
  }
  #restaurant #restocards .card {
    width: 24%;
  }
}
#entrees {
  -webkit-animation: fadeentrees 0.8s;
          animation: fadeentrees 0.8s;
}

#plats {
  -webkit-animation: fadeplats 1s;
          animation: fadeplats 1s;
}

#desserts {
  -webkit-animation: fadedesserts 1.3s;
          animation: fadedesserts 1.3s;
}

@-webkit-keyframes fadeentrees {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeentrees {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@-webkit-keyframes fadeplats {
  0% {
    opacity: 0;
    transform: translateY(100px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes fadeplats {
  0% {
    opacity: 0;
    transform: translateY(100px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@-webkit-keyframes fadedesserts {
  0% {
    opacity: 0;
    transform: translateY(150px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes fadedesserts {
  0% {
    opacity: 0;
    transform: translateY(150px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}/*# sourceMappingURL=main.css.map */