@import '../utils/variables.scss';

@mixin h2-template{
    font-size: 23px; 
    font-weight: bolder;
    margin:0px 20px;       
}

@mixin ombre{
    box-shadow: 0px 6px 7px 0px $ombrecolor;
}

@mixin ombrehover{
    box-shadow: 0px 6px 7px 0px darken($ombrecolor, 10%)
}

@mixin button-template{
    background: linear-gradient(170deg, $pink 5%, $purple 100%);
    border-radius:28px;
    border: none;
    cursor:pointer;
    color:#ffffff;
    font-size:16px;
    padding:16px;
    margin: 5px 45px 0 45px;
    text-decoration:none;
    &:hover{
        background: linear-gradient(170deg, lighten($pink,10%) 5%, lighten($purple,10%) 100%);
        box-shadow: 0px 6px 7px 0px darken($ombrecolor, 10%);
    }
}