@mixin h2-template{
    font-size: 23px; 
    font-weight: bolder;
    margin:0px 20px;       
}

@mixin ombre{
    box-shadow: 0px 6px 7px 0px #d4d4d4;
}

@mixin button-template{
    background:linear-gradient(to bottom, #ff79d9 5%, #9256dc 100%);
    background-color:#ff79d9;
    border-radius:28px;
    border: none;
    cursor:pointer;
    color:#ffffff;
    font-size:16px;
    padding:16px;
    margin: 5px 45px 0 45px;
    text-decoration:none;
    &:hover{
        background:linear-gradient(to bottom, #9256dc 5%, #ff79d9 100%);
        background-color:#9256dc;
    }
}