/*-----BOUTON VIOLET-------*/
/*-----BOUTON CHOIX-----*/
#loader {
  width: 100%;
  height: 100%;
  position: fixed;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-animation: loader 0.5s;
          animation: loader 0.5s;
  -webkit-animation-delay: 3.4s;
          animation-delay: 3.4s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  z-index: 3;
}
#loader #loading {
  display: flex;
  justify-content: center;
  width: 100px;
  height: 100px;
  -webkit-animation: loading 1s ease-in-out;
          animation: loading 1s ease-in-out;
  border-radius: 50%;
  border: 6px solid #9256dc;
  border-bottom: 6px solid #ff79d9;
  -webkit-animation-iteration-count: 3;
          animation-iteration-count: 3;
}

@-webkit-keyframes loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@-webkit-keyframes loader {
  100% {
    opacity: 0;
    z-index: -1;
  }
}
@keyframes loader {
  100% {
    opacity: 0;
    z-index: -1;
  }
}
#intro {
  display: flex;
  flex-direction: column;
}
#intro #localisation {
  background-color: rgb(239, 239, 239);
  height: 50px;
}
#intro #localisation i {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(55, 55, 55);
}
#intro #localisation input {
  font-size: 16px;
  font-weight: bolder;
  background-color: transparent;
  border: none;
  font-family: "Roboto", sans-serif;
  margin-left: 20px;
  width: 150px;
}
#intro #localisation input ::-moz-placeholder {
  opacity: 1;
  color: black;
}
#intro #localisation input :-ms-input-placeholder {
  opacity: 1;
  color: black;
}
#intro #localisation input ::placeholder {
  opacity: 1;
  color: black;
}
#intro #explore {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f6f6f6;
  height: 217px;
  padding: 35px 30px;
}
#intro #explore h2 {
  font-size: 24px;
  text-align: center;
  margin: 10px 25px 0 25px;
}
#intro #explore p {
  font-size: 18px;
  text-align: center;
  color: rgb(55, 55, 55);
}
#intro #explore button {
  box-shadow: 0px 6px 7px 0px #d4d4d4;
  background: linear-gradient(170deg, #ff79d9 5%, #9256dc 100%);
  border-radius: 28px;
  border: none;
  cursor: pointer;
  color: #ffffff;
  font-size: 16px;
  padding: 16px;
  margin: auto;
  text-decoration: none;
  white-space: nowrap;
}
#intro #explore button:hover {
  background: linear-gradient(170deg, #ff98e2 5%, #ad80e5 100%);
  box-shadow: 0px 6px 7px 0px #bbbbbb;
}

nav {
  height: 350px;
  padding: 45px 0;
}
nav h2 {
  font-size: 23px;
  font-weight: bolder;
  margin: 0px 20px;
}
nav #filtre {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 20px 0 50px 0;
}
nav #filtre button {
  width: 90%;
  height: 75px;
  border-radius: 20px;
  box-shadow: 0px 6px 7px 0px #d4d4d4;
  border: none;
  background-color: #f6f6f6;
  margin: 10px;
  color: rgb(118, 118, 118);
  display: flex;
  align-items: center;
  cursor: pointer;
}
nav #filtre button .number {
  float: left;
  margin-left: -19px;
  font-size: 15px;
  color: white;
  background-color: #9256dc;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 24px;
  width: 24px;
  border-radius: 100%;
}
nav #filtre button i {
  margin: auto;
}
nav #filtre button .fonction {
  font-size: 16px;
  margin: 0 20px;
  color: black;
}
nav #filtre button:hover {
  background-color: rgba(147, 86, 220, 0.13);
  box-shadow: 0px 6px 7px 0px #bbbbbb;
  color: #9256dc;
}

#restaurant {
  background-color: #f6f6f6;
  padding: 55px 0 40px;
}
#restaurant h2 {
  font-size: 23px;
  font-weight: bolder;
  margin: 0px 20px;
}
#restaurant .card {
  background-color: white;
  width: 90%;
  height: 250px;
  margin: 25px auto;
  box-shadow: 0px 6px 7px 0px #d4d4d4;
  border-radius: 15px;
  display: grid;
  grid-template: 70% 30%/75% 25%;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}
#restaurant .card:hover {
  box-shadow: 0px 6px 7px 0px #bbbbbb;
}
#restaurant .card img {
  width: 100%;
  height: 175px;
  border-radius: 15px 15px 0 0;
  grid-area: 1/1/1/3;
  -o-object-fit: cover;
     object-fit: cover;
}
#restaurant .card .description {
  grid-area: 2/1;
}
#restaurant .card .description h3 {
  margin: 13px 10px 5px 10px;
  font-size: 18px;
}
#restaurant .card .description address {
  font-style: normal;
  font-size: 17px;
  margin: 0 10px;
}
#restaurant .card .far, #restaurant .card .fas, #restaurant .card input {
  grid-area: 2/2;
  margin: 15px auto;
  font-size: 25px;
}
#restaurant .card .new {
  grid-area: 1/2;
  background-color: #99e2d0;
  height: 15px;
  max-width: 60px;
  text-align: center;
  padding: 7px;
  margin: 13px auto;
  border-radius: 3px;
  font-size: 14px;
  font-weight: bold;
  color: #0f9070;
}
#restaurant .card a {
  grid-area: 1/1/1/3;
  text-decoration: none;
  color: black;
}
#restaurant .card a:visited {
  text-decoration: none;
}/*# sourceMappingURL=index.css.map */