main {
  display: flex;
  flex-direction: column;
}

#picture {
  height: 220px;
}
#picture img {
  width: 100%;
  height: 115%;
  -o-object-fit: cover;
     object-fit: cover;
}

#repas {
  padding: 38px 14px;
  border-radius: 40px 40px 0 0;
  background-color: #f6f6f6;
}
#repas #restoname {
  display: flex;
  justify-content: space-between;
}
#repas #restoname h2 {
  font-family: "Shrikhand";
  font-weight: lighter;
  font-size: 28px;
  margin: 0;
}
#repas #restoname .fas, #repas #restoname input {
  position: absolute;
  right: 29px;
}
#repas .carte {
  display: flex;
  flex-direction: column;
  margin: 14px 0;
}
#repas .carte h3 {
  font-size: 16px;
  font-weight: lighter;
  margin-bottom: 3px;
}
#repas .carte .greenborder {
  height: 3px;
  width: 45px;
  background-color: #99e2d0;
}
#repas .carte .menu {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  width: 100%;
  overflow: hidden;
}
#repas .carte .menu .buttonfood {
  display: flex;
  height: 67px;
  background-color: white;
  border: none;
  border-radius: 15px;
  box-shadow: 0px 6px 7px 0px #d4d4d4;
  margin-bottom: 15px;
  overflow: hidden;
  cursor: pointer;
}
#repas .carte .menu .buttonfood .description {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 100%;
  height: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
#repas .carte .menu .buttonfood .description em {
  font-size: 17px;
  font-style: normal;
  font-weight: bold;
  display: flex;
  justify-content: flex-start;
  margin: 10px 0 0 8px;
}
#repas .carte .menu .buttonfood .description p {
  margin: 5px 0 10px 8px;
  display: flex;
  justify-content: flex-start;
  font-size: 15px;
}
#repas .carte .menu .buttonfood .price {
  display: flex;
  align-items: flex-end;
  height: 85%;
  font-size: 15px;
  font-weight: bolder;
  margin-right: 20px;
}
#repas .carte .menu .buttonfood .check {
  min-width: 68px;
  height: 68px;
  background: #99e2d0;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: -70px;
  border-radius: 0 15px 15px 0;
}
#repas .carte .menu .buttonfood .check i {
  color: #99e2d0;
  padding: 6px;
  border-radius: 50%;
  background: white;
}
#repas .carte .menu .buttonfood:hover .check {
  margin-right: 0px;
  transition-duration: 0.5s;
  transition-timing-function: ease;
}
#repas .carte .menu .buttonfood:hover i {
  transform: rotate(360deg);
  transition: 500ms;
}
#repas #commander {
  background: linear-gradient(170deg, #ff79d9 5%, #9256dc 100%);
  border-radius: 28px;
  border: none;
  cursor: pointer;
  color: #ffffff;
  font-size: 16px;
  padding: 16px;
  margin: 5px 45px 0 45px;
  text-decoration: none;
  width: 180px;
  display: flex;
  justify-content: center;
  margin: 30px auto;
}
#repas #commander:hover {
  background: linear-gradient(170deg, #fface7 5%, #ad80e5 100%);
  box-shadow: 0px 6px 7px 0px #bbbbbb;
}

#entrees {
  -webkit-animation: fadeentrees 0.8s;
          animation: fadeentrees 0.8s;
}

#plats {
  -webkit-animation: fadeplats 1s;
          animation: fadeplats 1s;
}

#desserts {
  -webkit-animation: fadedesserts 1.3s;
          animation: fadedesserts 1.3s;
}

@-webkit-keyframes fadeentrees {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeentrees {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@-webkit-keyframes fadeplats {
  0% {
    opacity: 0;
    transform: translateY(100px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes fadeplats {
  0% {
    opacity: 0;
    transform: translateY(100px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@-webkit-keyframes fadedesserts {
  0% {
    opacity: 0;
    transform: translateY(150px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes fadedesserts {
  0% {
    opacity: 0;
    transform: translateY(150px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
/*@-webkit-keyframes fade-in-top {
    0% {
      -webkit-transform: translateY(-50px);
              transform: translateY(-50px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      opacity: 1;
    }
  }
  @keyframes fade-in-top {
    0% {
      -webkit-transform: translateY(-50px);
              transform: translateY(-50px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      opacity: 1;
    }
  }*//*# sourceMappingURL=menu.css.map */