@import '../utils/mixins.scss';
@import '../utils/variables.scss';
@import '../components/buttons.scss';

main{
    display: flex;
    flex-direction: column;
}

#picture{
    height: 220px;
    img{
        width: 100%;
        height: 115%;
        object-fit: cover;
    }
}

#repas{
    padding: 38px 14px;
    border-radius: 40px 40px 0 0;
    background-color: $background-color;
    #restoname{
        display: flex;
        justify-content: space-between;
        h2{
            font-family: 'Shrikhand';
            font-weight: lighter;
            font-size: 28px;
            margin: 0;
        }
        .fas, input{
            position: absolute;
            right: 29px;
        }
    }
    .carte{
        display: flex;
        flex-direction: column;
        margin: 14px 0;
        h3{
            font-size: 16px;
            font-weight: lighter;
            margin-bottom: 3px;
        }
        .greenborder{
            height: 3px;
            width: 45px;
            background-color: $green;
        }
        .menu{
            display: flex;
            flex-direction: column;
            margin-top: 20px;
            width: 100%;
            overflow: hidden;
            .buttonfood{
                @include button;
                @include animationcheck;
            }
        }
    }
    #commander{
        @include button-template;
        width: 180px;
        display: flex;
        justify-content: center;
        margin: 30px auto;
    }
}

#entrees{
    animation: fadeentrees 0.8s;
}

#plats{
    animation: fadeplats 1s;
}

#desserts{
    animation: fadedesserts 1.3s;
}

@keyframes fadeentrees {
    0% {
        opacity:0;
        transform: translateY(50px);
    }
    100% {
        opacity:1;
        transform: translateY(0);
    }
}

@keyframes fadeplats {
    0% {
        opacity:0;
        transform: translateY(100px);
    }
    100% {
        opacity:1;
        transform: translateY(0);
    }
}

@keyframes fadedesserts {
    0% {
        opacity:0;
        transform: translateY(150px);
    }
    100% {
        opacity:1;
        transform: translateY(0);
    }
}

/*@-webkit-keyframes fade-in-top {
    0% {
      -webkit-transform: translateY(-50px);
              transform: translateY(-50px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      opacity: 1;
    }
  }
  @keyframes fade-in-top {
    0% {
      -webkit-transform: translateY(-50px);
              transform: translateY(-50px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      opacity: 1;
    }
  }*/

