footer{
    height: 165px;
    background-color: #323232;
    h2{
        margin: 0;
        padding: 22px;
        font-family: 'Shrikhand';
        color: white;
        font-size: 17px;
        font-weight: lighter;
    }
    #footerlinks{
        display: flex;
        flex-direction: column;
        a{
            color: white;
            text-decoration: none;
            padding: 3px 25px;
            i{
                margin-right: 10px;
                font-size: 12px;
            }
        }
    }
}