@media screen and (min-width: 900px) {
    #repas{
    .carte{
        .menu{
            flex-direction: row;
            justify-content: space-between;
            .buttonfood{
                width: 30%;
            }
        }
    }
   }

   footer{
    h2{
        display: flex;
        justify-content: center;
    }
    #footerlinks{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-top: 25px;

    }
}
}
