@media screen and (min-width: 710px) {
    /*-----INDEX------*/

    nav{
        height: auto;
        #filtre{
            flex-direction: row;
            flex-wrap: wrap;
        }
    }

        #restaurant{
            #restocards{
                display: flex;
                flex-wrap: wrap;
                a{
                    width: 45%;
                    img{
                        width: 100%;
                    }
                }
            }
        }

    
        /*-----PAGE DE RESTO------*/
    #repas{
    .carte{
        .menu{
            flex-direction: row;
            justify-content: space-between;
            flex-wrap: wrap;
            .buttonfood{
                width: 30%;
                min-width: 330px;
                margin: 15px auto;
            }
        }
    }
   }


   /*-----FOOTER------*/
   footer{
    h2{
        display: flex;
        justify-content: center;
    }
    #footerlinks{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-top: 25px;

    }
}
}


@media screen and (min-width: 1150px){
    #repas{
        #globalcard{
        display: flex;
        justify-content: space-between;
        width: 100%;
        .carte{
            justify-content: flex-start;
            width: 30%;
        }
        .menu{
            .buttonfood{
                margin: 15px 0px;
            }
        }
    }
}
}
